h1{
    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;
    color: orange;
}

p{
    font-size: 1.5rem;
    color: darkgreen;
    text-align: center;
}

#container{
    background-color: #f0f0f0;
    color: #a98528;
    font-size: 3rem;
    padding: 0.5rem;

}